[general]
title = OpenWrt Project
title_url = http://openwrt.org/
workdir = /buildbot

[phase2]
buildbot_url = http://phase2.builds.openwrt.org/
status_bind = tcp:8011:interface=127.0.0.1
status_user = example
status_password = example
port = 9990
persistent = false
git_ssh = true
git_ssh_key = -----BEGIN RSA PRIVATE KEY-----
	MIIEpAIBAAKCAQEAuCJwo6OmrRDxcGfsMgBhq0vdzp2ZIdqnedFH8u6tVYLt9WDU
	...
	mHzkh8Uv4OAWTjiLGycbXa0/31hu9PCeNzYmjjrp8tcGjsiJJFxydgS+wc0i2UPV
	nSI+JbmAAF9vw6gj2i+Hqx7UloRd0tEv/leX354T5lO06LMiNhvN9g==
	-----END RSA PRIVATE KEY-----

[repo]
url = https://git.openwrt.org/openwrt/openwrt.git
branch = main

[rsync]
binary_url = user@example.org::upload-packages
binary_password = example
source_url = user@example.org::upload-sources
source_password = example2
sdk_url = user@example.org::download-binary
sdk_password = example3
sdk_pattern = openwrt-sdk-*.tar.xz

[gpg]
key = -----BEGIN PGP PRIVATE KEY BLOCK-----
	Version: GnuPG v2

	mQGNBFX4kxkBDACcTUVUl6zbn4r9tDap0/aCpcK9MO+HPatS7p2aBGY51kh78Ixr
	...
	HwHLaFTMvYFY7WJDwA==
	-----END PGP PRIVATE KEY BLOCK-----
passphrase = secret password
comment = Unattended build signature

[usign]
key = RWRCSwAAA...OihABfuLvGRVfVaJ6wLf0=
comment = Unattended build signature

[worker 1]
phase = 2
name = worker-example-1
password = example
builds = 1

[worker 2]
phase = 2
name = worker-example-2
password = example2
builds = 3

