[general]
title = LEDE Project
title_url = http://lede-project.org/
buildbot_url = http://phase2.builds.lede-project.org/
homedir = ../phase1
port = 9990
persistent = false

[status]
bind = tcp:8011:interface=127.0.0.1
user = example
password = example

[rsync]
binary_url = user@example.org::upload-packages
binary_password = example
source_url = user@example.org::upload-sources
source_password = example2
sdk_url = user@example.org::download-binary
sdk_password = example3
sdk_pattern = lede-sdk-*.tar.xz

[gpg]
home = ~/.gnupg
keyid = 626471F1
passfile = ./gpg-passphrase.txt
comment = Unattended build signature

[slave 1]
name = slave-example-1
password = example
builds = 1

[slave 2]
name = slave-example-2
password = example2
builds = 3

