*
!.gitignore
!.dockerignore
!build-docker-images.sh
!docker
!docker/*
!docker/*/*
!docker/*/*/*
docker/build
!scripts
!scripts/*
!phase[12]
!phase[12]/*
phase[12]/*/*
phase[12]/config.ini
phase[12]/http.log
phase[12]/key-build*
phase[12]/state.sqlite*
phase[12]/twistd.*
!.gitlab-ci.yml
!.gitlab
!.gitlab/*
!.gitlab/**/*
!.github
!.github/**/*
