[general]
title = LEDE Project
title_url = http://lede-project.org/
buildbot_url = http://phase1.builds.lede-project.org/
homedir = .
expire = 1209600

[status]
bind = tcp:8010:interface=127.0.0.1
user = example
password = example

[irc]
host = irc.freenode.net
port = 6667
channel = #example-channel
nickname = example-builder
password = example

[repo]
url = https://git.lede-project.org/source.git

[rsync]
binary_url = user@example.org::upload-binary
binary_password = example
source_url = user@example.org::upload-sources
source_password = example2

[gpg]
keyid = 626471F1
passfile = ./gpg-passphrase.txt
comment = Unattended build signature

[slave 1]
name = example-slave-1
password = example
builds = 3

[slave 2]
name = example-slave-2
password = example2
builds = 1
