CONFIG_ALL_NONSHARED=y
CONFIG_SDK=y
CONFIG_IB=y
# CONFIG_IB_STANDALONE is not set
CONFIG_DEVEL=y
CONFIG_CCACHE=y
CONFIG_SIGNED_PACKAGES=y
# CONFIG_PER_FEED_REPO_ADD_COMMENTED is not set
CONFIG_KERNEL_KALLSYMS=y
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_TARGET_ALL_PROFILES=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
