[general]
title = OpenWrt Project
title_url = http://openwrt.org/
workdir = /buildbot

[phase1]
buildbot_url = http://phase1.builds.openwrt.org/
status_bind = tcp:8010:interface=127.0.0.1
status_user = example
status_password = example
expire = 1209600
port = 9989
config_seed = # Seed configuration
	CONFIG_BUILDBOT=y
	CONFIG_DEVEL=y
	CONFIG_CCACHE=n
	CONFIG_KERNEL_KALLSYMS=y
	CONFIG_AUTOREMOVE=y

[irc]
host = irc.freenode.net
port = 6667
channel = #example-channel
nickname = example-builder
password = example

[repo]
url = https://git.openwrt.org/openwrt/openwrt.git
branch = master

[rsync]
binary_url = user@example.org::upload-binary
binary_password = example
source_url = user@example.org::upload-sources
source_password = example2

[gpg]
key = -----BEGIN PGP PRIVATE KEY BLOCK-----
	Version: GnuPG v2

	mQGNBFX4kxkBDACcTUVUl6zbn4r9tDap0/aCpcK9MO+HPatS7p2aBGY51kh78Ixr
	...
	HwHLaFTMvYFY7WJDwA==
	-----END PGP PRIVATE KEY BLOCK-----
passphrase = secret password
comment = Unattended build signature

[usign]
key = RWRCSwAAA...OihABfuLvGRVfVaJ6wLf0=
comment = Unattended build signature

[worker 1]
phase = 1
name = example-worker-1
password = example
builds = 3

[worker 2]
phase = 1
name = example-worker-2
password = example2
builds = 1
cleanup = 1
